.o_project_overview {
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
        cursor: pointer;
        font-weight: 600;
        color: #5a4f7f !important;
    }

    .o_global_actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;

        .o_button {
            padding: 10px 15px;
            background-color: #71639e;
            color: #fff;
            border-radius: 4px;
            border: none;
            cursor: pointer;
            display: flex;
            gap: 5px;
            align-items: center;

            &:hover {
                background-color: #605486;
            }
        }
    }

    .o_dashboard {
        display: flex;
        flex-wrap: wrap;

        .o_item {
            width: 100%;

            th {
                width: 33%;
            }

            @media screen and (min-width: 1024px) {
                width: 33%;

                th {
                    width: auto;
                }
            }

            .o_text_right {
                text-align: right;
            }
        }
    }

    .o_people_time {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .o_button_list {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;
            flex-wrap: wrap;
        }
        .o_progress_badge {
            border: none;
            border-radius: 50px;
            font-size: 11px;
        }

        .o_progress_bar:hover {
            cursor: pointer;
        }

        .o_progress_billable_time {
            background-color: #f0ad4e;
            color: white;
        }
        .o_progress_billable_fixed {
            background-color: #5bc0de;
            color: white;
        }
        .o_progress_non_billable {
            background-color: gray;
            color: white;
        }
        .o_progress_billable_manual {
            background-color: #e99898;
            color: white;
        }

        .o_content {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .o_employee_time_details {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
        }

        .o_employee_name {
            width: 15%;
        }

        .o_employee_total {
            width: 5%;
        }

        .o_employee_progress_container {
            flex: 1;
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}

.o_project_overview_timesheets {
    margin-top: 20px;

    a {
        cursor: pointer;
        font-weight: 600;
        color: #5a4f7f !important;
    }

    th {
        text-align: center;
        vertical-align: top;
    }

    th:nth-last-child(3),
    td:nth-last-child(3) {
        border-right: 2px solid #5a4f7f;
    }

    .text-muted {
        color: #adb5bd !important;
    }
}

.o_cp_buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
